@model IEnumerable<Sistema_Reserva_Alquiler_Habi.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitacion.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion.descripcion)
        </td>
        
    </tr>
}

</table>
