<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Multipager Template- Travelic </title>
    <!--REQUIRED STYLE SHEETS-->
    @Styles.Render("~/template/css")


</head>
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand"><img src="~/Content/img/lo.png" width="120" /></a>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Create", "Consultas")</li>
                    <li>@Html.ActionLink("Nosotros", "_Nosotros", "Home")</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Reservas", "Create", "Reservas")</li>
                    }



                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                    }

                    <li>@Html.ActionLink("Piso", "Index", "Pisoes")</li>
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>


        </div>
    </div>
    <!--END NAV SECTION -->
    <!--HOME SECTION-->
    <div id="home-sec">

        
            
     
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">

                        <span class="head-main">Panda Hotel<img  src="~/Content/img/p.png" aling="left" width="90"/>                             </span>


                    </div>
                </div>
            </div>

        </div>


        <section id="services-sec">
            <div class="container">
                <div class="row ">
                    <div class="text-center g-pad-bottom">
                        <div class="col-md-4 col-sm-4 alert-info">
                            <h4>Reserve con confianza</h4>
                            <p>
                                Somos concientes de la importancia de la flexibilidad cuando entra en juego la planificación de viajes en el futuro,
                                y queremos que confíe en nosotros cuando haga una reserva.
                            </p>

                        </div>
                        <div class="col-md-4 col-sm-4 alert-success">
                            <h4>Fantásticas ofertas </h4>
                            <p>
                                Comprendemos que, a la hora de planificar los futuros viajes, se necesita flexibilidad.
                                Puede reservar con confianza, sabiendo que nuestras políticas de cancelación flexible se adaptarán a sus necesidades.
                            </p>

                        </div>

                        <div class="col-md-4 col-sm-4 alert-danger">
                            <h4> Salud y seguridad </h4>
                            <p>
                                En respuesta a la pandemia de COVID-19, nos hemos asociado con los mejores expertos para implementar
                                nuevos estándares de seguridad y protocolos y procedimientos operativos y garantizar su seguridad.
                            </p>

                        </div>
                    </div>
                </div>


                <div class="row go-marg">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> Habitación Individual </h4>
                                <p>

                                    <img src="~/Content/img/Habitaciones/habi10.jpg" height="300" width="330" style="border: 2px solid; color: black;" />
                                    <b>Una habitación asignada a una persona.</b>
                                    <br />
                                    Equipamiento de la habitación:
                                    <br />
                                    - Aire acondicionado

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-default" value="Más detalles" />
                                        </div>
                                    </div>

                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> Habitación Doble </h4>
                                <p>
                                    <img src="~/Content/img/Habitaciones/habi6.jpg" height="300" width="330" style="border: 2px solid; color: black;" />
                                    <b>Una habitación asignada a dos personas.</b>
                                    <br />
                                    Equipamiento de la habitación:
                                    <br />
                                    - Aire acondicionado
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-default" value="Más detalles" />
                                        </div>
                                    </div>
                                </p>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center">Habitación triple</h4>
                                <p>
                                    <img src="~/Content/img/Habitaciones/habi11.jpg" height="300" width="330" style="border: 2px solid; color: black;" />
                                    <b>Con capacidad para tres personas.</b>
                                    <br />
                                    Equipamiento de la habitación:
                                    <br />
                                    - Aire acondicionado
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-default" value="Más detalles" />
                                        </div>
                                    </div>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="row go-marg">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> Habitación King </h4>
                                <p>
                                    <img src="~/Content/img/Habitaciones/habit7.jpg" height="300" width="330" style="border: 2px solid; color: black;" />
                                    <b>Una habitación con una cama king-size. Puede ser ocupado por una o más personas.</b>
                                    <br />
                                    Equipamiento de la habitación:
                                    <br />
                                    - Aire acondicionado
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-default" value="Más detalles" />
                                        </div>
                                    </div>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> Suite Ejecutiva </h4>
                                <p>
                                    <img src="~/Content/img/Habitaciones/habi12.jpg" height="300" width="330" style="border: 2px solid; color: black;" />
                                    <b>Una habitación con uno o más dormitorios y una sala de estar separada.</b>
                                    <br />
                                    Equipamiento de la habitación:
                                    <br />
                                    - Aire acondicionado
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-default" value="Más detalles" />
                                        </div>
                                    </div>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="adjst" align="center"> Suite Presidencial </h4>
                                <p>
                                    <img src="~/Content/img/Habitaciones/habi14.jpg" height="300" width="330" style="border: 2px solid; color: black;" />
                                    <b>Inclye uno o más dormitorios, una sala de estar bien decorada y los suministros.</b>
                                    <br />
                                    Equipamiento de la habitación:
                                    <br />
                                    - Aire acondicionado
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" >
                                            <input type="submit" class="btn btn-default" value="Más detalles" />
                                        </div>
                                    </div>
                                </p>

                            </div>
                        </div>
                    </div>


                </div>




            </div>

        </section>

       
        <!-- END FOOTER SECTION -->
        @Scripts.Render("~/template/js")

</body>
</html>