@model IEnumerable<Sistema_Reserva_Alquiler_Habi.Models.Consulta>

@{
    ViewBag.Title = "Contacto";
}

<h2>Contactate con nosotros</h2>


<p>
    @Html.ActionLink("Crear nueva consulta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consulta1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consulta1)
        </td>
    
    </tr>
}

</table>
